Repository Lumina-Enterprise-Solutions/prism-invitation-service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/DevOps-Team, @Lumina-Enterprise-Solutions/Platform-Team, @Lumina-Enterprise-Solutions/Architecture-Team

fix: Improve error handling for response body closure and tracer shutdown
  internal/client/notification_client.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Architecture-Team

Create README.md
  README.md
Owners: @Lumina-Enterprise-Solutions/Core-Team

Create CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @Lumina-Enterprise-Solutions/Core-Team

Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @Lumina-Enterprise-Solutions/Core-Team

feat: Update dependencies and improve Dockerfile for prism-invitation-service
  Dockerfile.mono
  go.mod
  go.sum
  internal/client/notification_client.go
Owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Architecture-Team

feat: Refactor invitation service to use RabbitMQ for notification publishing and update README
  README.md
  config/config.go
  internal/client/notification_client.go
  internal/client/queue_publisher.go
  internal/service/invitation_service.go
  internal/service/invitation_service_test.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Architecture-Team

fix: Update Makefile to correct service name and binary output
  Makefile
Owners: @Lumina-Enterprise-Solutions/Core-Team

feat: Update invitation service to include tenantID and inviterID in CreateInvitation method and tests
  go.mod
  go.sum
  internal/handler/invitation_handler.go
  internal/handler/invitation_handler_test.go
  internal/service/invitation_service.go
  internal/service/invitation_service_test.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

feat(tenancy): apply tenant isolation to file-service and invitation-service
  Dockerfile.mono
  internal/handler/invitation_handler.go
  internal/service/invitation_service.go
Owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Architecture-Team

.github/CODEOWNERS:

# Tim Inti (Core Team) adalah pemilik default untuk semua file di repositori ini.
*       @Lumina-Enterprise-Solutions/Core-Team

# Perubahan pada CI/CD harus direview oleh Tim DevOps.
.github/workflows/   @Lumina-Enterprise-Solutions/DevOps-Team

# Dockerfile adalah tanggung jawab bersama antara Tim Inti dan Tim Platform.
Dockerfile          @Lumina-Enterprise-Solutions/Core-Team @Lumina-Enterprise-Solutions/Platform-Team

# Perubahan pada dependensi (go.mod, go.sum) memerlukan persetujuan dari Tim Arsitektur.
go.mod              @Lumina-Enterprise-Solutions/Architecture-Team
go.sum              @Lumina-Enterprise-Solutions/Architecture-Team

# Logika inti terkait repositori dan service memerlukan pengawasan dari Tim Arsitektur.
main.go                     @Lumina-Enterprise-Solutions/Architecture-Team @Lumina-Enterprise-Solutions/Core-Team
internal/service/           @Lumina-Enterprise-Solutions/Architecture-Team @Lumina-Enterprise-Solutions/Core-Team
internal/repository/        @Lumina-Enterprise-Solutions/Core-Team
